.cabecalho{
    display: flex;
    justify-content: space-around;
    background-color: rgb(16, 163, 163);
}
.cabecalho_imagem {
    width: 116px;
    height: 113px;
}


.cabecalho_titulo ,.cabecalho_menu {
    display: inline;
}