.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: rgb(16, 163, 163);
}
.cabecalho_imagem {
    width: 467px;
    height: 454px;
}


.cabecalho_titulo ,.cabecalho_menu {
    display: inline;
}