body {
    background-color: beige;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(16, 163, 163);
}
.cabecalho__imagem {
    width: 116px;
    height: 113px;
    border-radius: 100px;
}


.cabecalho_titulo ,.cabecalho_menu {
    display: inline;
}
.escola {
    display: flex;
}